<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Event List</title>
    <meta name="viewport" http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>

<body>
    <div class="col-md-4" style="padding:20px">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Log Out" class="btn btn-sm btn-danger" />
        </form>
    </div>
    <div class="container">
        <h6>Logged in as: <span sec:authentication="name">Name</span></h6>
    </div>
    <div class="container" style="margin-top: 50px;">
        <h1>Events</h1>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Location</th>
                <th>Address</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Category</th>
                <th>Organiser</th>
                <th>Target Group</th>
                <th>Approved</th>
                <th>Ticket Price</th>
                <th sec:authorize="hasAuthority('ADMIN')"> </th>
                <th sec:authorize="hasAuthority('ADMIN')"> </th>
            </tr>
            <tr th:each="event : ${events}">
                <td th:text="${event.name}"></td>
                <td th:text="${event.description}"></td>
                <td th:text="${event.location}"></td>
                <td th:text="${event.locationAddress}"></td>
                <td th:text="${event.date}"></td>
                <td th:text="${event.startTime}"></td>
                <td th:text="${event.endTime}"></td>
                <td th:text="${event.category.name}"></td>
                <td th:text="${event.organiser.name}"></td>
                <td th:text="${event.targetGroup}"></td>
                <td th:text="${event.approved}"></td>
                <td th:text="${event.ticketPrice}"></td>

                <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${event.id})}"
                        class="btn btn-danger">Delete</a></td>
                <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id}(id=${event.id})}"
                        class="btn btn-success">Edit Event</a></td>
            </tr>
        </table>
        <a class="btn btn-success" href="/add" sec:authorize="hasAuthority('ADMIN')">Add Event</a>
    </div>
</body>

</html>